@{
    Layout = null;
}
@using MiniShop.App
@model ICollection<ProductDto>;
@foreach (var p in Model)
{
    <li class="item">
        <div class="product-card">
            @if (p.Tag != TagEnum.NONE)
            {
                <div class="badge">@p.Tag</div>
            }
            <div class="product-tumb">
                <img src="@p.Picture" alt="">
            </div>
            <div class="product-details">
                <span class="product-catagory">@p.CategoryDto?.Name &nbsp</span>
                <h4 class="name-h4"><a href="@p.Code" target="_blank">@p.Name</a></h4>
                <p>@p.Description</p>
                <div class="product-bottom-details">
                    <div class="product-price"><small>@((p.PriceIgnore / 1000).ToString("n0")) K</small>@((p.Price / 1000).ToString("n0")) K</div>
                    <div class="product-links">
                        <a href="@p.Code" target="_blank"><i class="fa fa-comment-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </li>
}
