
@using MiniShop.App
@model Tuple<InfoServerConfig, BlogDto, ICollection<ProductDto>>;
@{
    var metaData = new MetaTagDto()
    {
        Title = Model.Item2.Title,
        Description = Model.Item2.Content,
        Keywords = "sinh ly, phu khoa, man duc, co be, phuc hoi, tang kha nang, lam dep, phu nu, duong vat, am ho, ...",
        FacebookMeta = new FacebookMetaTag()
        {
            Description = Model.Item2.Content,
            Title = Model.Item2.Title,
            SiteName = Model.Item1.DomainName,
            Image = @$"{Model.Item1.HostName}/shared/img-backgrounds/pic-home.jpg",
            Url = "hanglink.info"
        },
        TwitterMeta = new TwitterMetaTag()
        {
            Url = "hanglink.info",
            Title = Model.Item2.Title,
            Image = @$"{Model.Item1.HostName}/shared/img-backgrounds/pic-home.jpg",
            Card = Model.Item1.DomainName
        }
    };
}
@section metaTag{
    <partial name="../Shared/_metaTag.cshtml" model="metaData" />
}
@section stylesheets{
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link href="~/css/client/blog-card.min.css" rel="stylesheet" />

    @*For mshop-blog-ads-client*@
    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='https://storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css'>
}

<partial name="../Home/_nav.cshtml" />
<div id="fh5co-blog-more" class="mshop-blog-more-client">
    <div class="container">
        <div class="items">
            <div class="items-head">
                <p>Bài viết nổi bật</p>
                <hr>
            </div>

            <div class="items-body">
                <div class="items-body-content">
                    <span>Web Usabilty Testing</span>
                    <i class="icon">
                        <svg class="svg-icon" viewBox="0 0 20 20">
                            <path fill="none" d="M1.683,3.39h16.676C18.713,3.39,19,3.103,19,2.749s-0.287-0.642-0.642-0.642H1.683
								c-0.354,0-0.641,0.287-0.641,0.642S1.328,3.39,1.683,3.39z M1.683,7.879h11.545c0.354,0,0.642-0.287,0.642-0.641
								s-0.287-0.642-0.642-0.642H1.683c-0.354,0-0.641,0.287-0.641,0.642S1.328,7.879,1.683,7.879z M18.358,11.087H1.683
								c-0.354,0-0.641,0.286-0.641,0.641s0.287,0.642,0.641,0.642h16.676c0.354,0,0.642-0.287,0.642-0.642S18.713,11.087,18.358,11.087z
								 M11.304,15.576H1.683c-0.354,0-0.641,0.287-0.641,0.642s0.287,0.641,0.641,0.641h9.621c0.354,0,0.642-0.286,0.642-0.641
								S11.657,15.576,11.304,15.576z"></path>
                        </svg>
                    </i>
                </div>
                <div class="items-body-content">
                    <span>Web Usabilty Testing</span>
                    <i class="icon">
                        <svg class="svg-icon" viewBox="0 0 20 20">
                            <path fill="none" d="M1.683,3.39h16.676C18.713,3.39,19,3.103,19,2.749s-0.287-0.642-0.642-0.642H1.683
								c-0.354,0-0.641,0.287-0.641,0.642S1.328,3.39,1.683,3.39z M1.683,7.879h11.545c0.354,0,0.642-0.287,0.642-0.641
								s-0.287-0.642-0.642-0.642H1.683c-0.354,0-0.641,0.287-0.641,0.642S1.328,7.879,1.683,7.879z M18.358,11.087H1.683
								c-0.354,0-0.641,0.286-0.641,0.641s0.287,0.642,0.641,0.642h16.676c0.354,0,0.642-0.287,0.642-0.642S18.713,11.087,18.358,11.087z
								 M11.304,15.576H1.683c-0.354,0-0.641,0.287-0.641,0.642s0.287,0.641,0.641,0.641h9.621c0.354,0,0.642-0.286,0.642-0.641
								S11.657,15.576,11.304,15.576z"></path>
                        </svg>
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-blog" class="mshop-blog-home-client">
    <div class="header">
        <h3>@Model.Item2.Title</h3>
        <ul class="info">
            <li class="publish-date">Ngày đăng @Model.Item2.PublishDate.ToString("dd/MM/yyyy HH:mm")</li>
            <li class="author">| Nguồn: @Model.Item2.Author</li>
        </ul>
    </div>
    <div class='content'>
        @Html.Raw(Model.Item2.Content)
    </div>
    <footer id="fh5co-footer" role="contentinfo" style="padding: 1em 0;">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-12 fh5co-widget">
                    <h3>Cầu nối đến sản phẩm hỗ trợ sức khỏe bạn</h3>
                    <p><strong>Chính sức khỏe mới là sự giàu có thực sự, không phải vàng và bạc</strong></p>
                    <p>(It is health that is real wealth and not pieces of gold and silver)</p>
                    <p><i>-Mahatma Gandhi</i></p>
                </div>
                <div class="row row-pb-md" style="text-align: center;">
                    <div class="col-md-12">
                        <img src="/shared/img-backgrounds/img-footer.png" style="width: 50em;">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<div id="fh5co-blog-ads" class="mshop-blog-ads-client">
    <div class="container">
        <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
            <main class="mdl-layout__content">
                <div class="mdl-grid">
                    @foreach (var item in Model.Item3)
                    {
                        <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                            <figure class="mdl-card__media">
                                <img src="@($"{Model.Item1.FileRootPath}/{item.Picture}")" alt="" />
                            </figure>
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">
                                    <p class="popout">
                                        @{
                                            var chars = item.Name.ToCharArray();
                                            foreach (var c in chars)
                                            {
                                                <span>@c</span>
                                            }
                                        }
                                    </p>
                                </h1>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p>@Html.Raw(item.Description)</p>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/san-pham/@item.Code">Chi tiết</a>
                                <div class="mdl-layout-spacer"></div>
                                @*<button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
                                <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>*@
                            </div>
                        </div>                        
                    }
                </div>
            </main>
        </div>
    </div>
</div>



<environment include="Development">
    @section Scripts{
        <script src="~/lib/pagination/pagination.js"></script>
        <!-- Page -->
        <script src="~/js/client/blog.js"></script>
    }
</environment>
<environment include="Production">
    @section Scripts{
        <script src="~/lib/pagination/pagination.js"></script>
        <!-- Page -->
        <script src="~/js/client/blog.js"></script>
    }
</environment>

