@{
    Layout = null;
}
@using MiniShop.App;
@model Tuple<ICollection<CategoryDto>, ICollection<AreaDto>, ProductDto, ICollection<string>>
<div class="card" id="mnshop-product-edit">
    <div class="card-content collapse show">
        <div class="card-body">
            <div class="form">
                <div class="form-body">
                    <input name="Id" value="@Model.Item3.Id" hidden />
                    <h4 class="form-section">
                        <i class="ft-flag"></i> Thông tin sản phẩm
                    </h4>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="productName">Tên</label>
                            <input type="text" class="form-control" placeholder="Product name" name="Name"
                                   required validate-message-required="Nhập tên sản phẩm!"
                                   value="@Model.Item3.Name">
                        </div>
                        <div class="col-md-3">
                            <label for="AreaId">Quốc gia</label>
                            <select name="AreaCode" class="form-control" required validate-message-required="Chọn quốc gia!">
                                <option value="" selected disabled>Hãy chọn 1 quốc gia</option>
                                @foreach (var item in @Model.Item2)
                                {
                                    if (item.Code == Model.Item3.AreaCode)
                                    {
                                        <option value="@item.Code" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Code">@item.Name</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="Tag">Tag</label>
                            <select name="Tag" class="form-control" required>
                                @{
                                    var loop = 0;
                                }
                                @foreach (var item in @Model.Item4)
                                {
                                    if (item == Model.Item3.Tag.ToString())
                                    {
                                        <option value="@item" selected>@item</option>
                                    }
                                    else
                                    {
                                        <option value="@item">@item</option>
                                    }
                                    loop++;
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="PriceIgnore">Giá gốc</label>
                            <input name="PriceIgnore" class="form-control decimal-inputmask"
                                   required validate-message-required="Nhập số tiền"
                                   value="@Model.Item3.PriceIgnore" />
                        </div>
                        <div class="col-md-6">
                            <label for="Price">Giá thực</label>
                            <input name="Price" class="form-control decimal-inputmask"
                                   required validate-message-required="Nhập số tiền"
                                   value="@Model.Item3.Price" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CattegoryId">Loại sản phâm</label>
                        <div class="mnshop-category-content">
                            @{
                                var rootCategorys = Model.Item1.Where(o => o.ParentId == null);
                                foreach (var category in rootCategorys)
                                {
                                    var categoryChilds = Model.Item1.Where(o => o.ParentId == category.Id);
                                    <div class="parent-category">
                                        <span>@category.Name</span>
                                        <div class="items">
                                            @foreach (var item in categoryChilds)
                                            {
                                                if (item.Id == Model.Item3.CategoryDto?.Id)
                                                {
                                                    <div class="item active" data-id="@item.Id">@item.Name</div>
                                                }
                                                else
                                                {
                                                    <div class="item" data-id="@item.Id">@item.Name</div>
                                                }

                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Picture">Chọn ảnh</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="Picture" placeholder="Link image" value="@Model.Item3.Picture">
                            <div class="input-group-prepend">
                                <span class="btn btn-outline-info input-group-text"
                                      onclick="productEditIndex.clickEvent(this)" data-ename="productEditConst.chooseImage">Chọn</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="SmallPicture">Chọn ảnh (small)</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="SmallPicture" placeholder="Link image" value="@Model.Item3.SmallPicture">
                            <div class="input-group-prepend">
                                <span class="btn btn-outline-info input-group-text"
                                      onclick="productAddIndex.clickEvent(this)" data-ename="productAddConst.chooseImage">Chọn</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="BigPicture">Chọn ảnh (large)</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="BigPicture" placeholder="Link image" value="@Model.Item3.BigPicture">
                            <div class="input-group-prepend">
                                <span class="btn btn-outline-info input-group-text"
                                      onclick="productAddIndex.clickEvent(this)" data-ename="productAddConst.chooseImage">Chọn</span>
                            </div>
                        </div>
                    </div>                   
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label for="TrackingLink">Tracking link</label>
                            <input type="text" class="form-control" placeholder="Nhập tracking link" name="TrackingLink" value="@Model.Item3.TrackingLink">
                        </div>
                        <div class="form-check col-md-4">
                            @if (Model.Item3.IsRedirectToPageRoot == true)
                            {
                                <input class="form-check-input" type="checkbox" name="IsRedirectToPageRoot" checked>
                            }
                            else
                            {
                                <input class="form-check-input" type="checkbox" name="IsRedirectToPageRoot">

                            }
                            <label class="form-check-label" for="defaultCheck3">
                                Chuyển hướng về trang gốc
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="companyinput8">Mô tả</label>
                        <textarea placeholder="Product description" id="description" rows="10" cols="30" style="width:100%; height:450px" aria-label="editor" name="Description" value="@Html.Raw(Model.Item3.Description)">@Html.Raw(Model.Item3.Description)</textarea>
                    </div>
                </div>

                <div class="form-actions">
                    <button class="btn btn-primary" onclick="productEditIndex.clickEvent(this)" data-ename="productEditConst.save">
                        <i class="la la-check-square-o"></i> Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>