@{
    Layout = null;
}
@using MiniShop.App
@{
    var productCardId = Guid.NewGuid();
}
@model ICollection<CategoryProductDto>;
<div id="fh5co-product" class="mshop-product-client">

    <div class="container">
        @foreach (var item in Model)
        {
            var productPart1 = @item.Products.Skip(0).Take(5);
            var productPart2 = @item.Products.Skip(5).Take(5);
            var productPart3 = @item.Products.Skip(10).Take(5);

            <div class="row category-product-v" data-ishow="0">
                <div class="category">
                    <div class="name">@item.Category.Name</div>
                    <div class="read-more">Xem thêm</div>
                </div>
                <div class="clearfix"></div>
                <div class="slideshow-container">
                    @if (productPart1.Count() > 0)
                    {
                        <div class="mySlides fade">
                            <ul class="product">
                                @foreach (var p1 in productPart1)
                                {
                                    <li class="item">
                                        <div class="product-card">
                                            @if (p1.Tag != TagEnum.NONE)
                                            {
                                                <div class="badge">@p1.Tag</div>
                                            }
                                            <div class="product-tumb">
                                                <img src="@p1.Picture" alt="">
                                            </div>
                                            <div class="product-details">
                                                <span class="product-catagory">@p1.CategoryDto.Name</span>
                                                <h4 class="name-h4"><a href="@p1.Code" target="_blank">@p1.Name</a></h4>
                                                <p>@p1.Description</p>
                                                <div class="product-bottom-details">
                                                    <div class="product-price"><small>@((p1.PriceIgnore / 1000).ToString("n0")) K</small>@((p1.Price / 1000).ToString("n0")) K</div>
                                                    <div class="product-links">
                                                        <a href="@p1.Code" target="_blank"><i class="fa fa-comment-o"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    @if (productPart2.Count() > 0)
                    {
                        <div class="mySlides fade">
                            <ul class="product">
                                @foreach (var p1 in productPart2)
                                {
                                    <li class="item">
                                        <div class="product-card">
                                            @if (p1.Tag != TagEnum.NONE)
                                            {
                                                <div class="badge">@p1.Tag</div>
                                            }
                                            <div class="product-tumb">
                                                <img src="@p1.Picture" alt="">
                                            </div>
                                            <div class="product-details">
                                                <span class="product-catagory">@p1.CategoryDto.Name</span>
                                                <h4 class="name-h4"><a href="@p1.Code" target="_blank">@p1.Name</a></h4>
                                                <p>@p1.Description</p>
                                                <div class="product-bottom-details">
                                                    <div class="product-price"><small>@((p1.PriceIgnore / 1000).ToString("n0")) K</small>@((p1.Price / 1000).ToString("n0")) K</div>
                                                    <div class="product-links">
                                                        <a href="@p1.Code" target="_blank"><i class="fa fa-comment-o"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    @if (productPart3.Count() > 0)
                    {
                        <div class="mySlides fade">
                            <ul class="product">
                                @foreach (var p1 in productPart3)
                                {
                                    <li class="item">
                                        <div class="product-card">
                                            @if (p1.Tag != TagEnum.NONE)
                                            {
                                                <div class="badge">@p1.Tag</div>
                                            }
                                            <div class="product-tumb">
                                                <img src="@p1.Picture" alt="">
                                            </div>
                                            <div class="product-details">
                                                <span class="product-catagory">@p1.CategoryDto.Name</span>
                                                <h4 class="name-h4"><a href="@p1.Code" target="_blank">@p1.Name</a></h4>
                                                <p>@p1.Description</p>
                                                <div class="product-bottom-details">
                                                    <div class="product-price"><small>@((p1.PriceIgnore / 1000).ToString("n0")) K</small>@((p1.Price / 1000).ToString("n0")) K</div>
                                                    <div class="product-links">
                                                        <a href="@p1.Code" target="_blank"><i class="fa fa-comment-o"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    <div class="clearfix"></div>
                    <a class="prev">&#10094;</a>
                    <a class="next">&#10095;</a>
                </div>

                <br>
            </div>
        }
    </div>
</div>
